.login-form-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form-ctn {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-top: 200px;
}

.login-label,
.login-input {
  margin: 5px 0;
}

.login-button {
  margin: 10px 0;
}
