:root {
  --primary: #007bff;
  --secondary: #6c757d;
  --light: #f8f9fa;
  --dark: #343a40;
  --danger: #ff0000;
  --success: #00aa00;
  --muted: #929292;
}

.bg-primary {
  background-color: var(--primary);
}

.bg-secondary {
  background-color: var(--secondary);
}

.bg-light {
  background-color: var(--light);
}

.bg-dark {
  background-color: var(--dark);
  color: #fff;
}

.bg-danger {
  background-color: var(--danger);
}

.bg-success {
  background-color: var(--success);
}

.bg-muted {
  background-color: var(--muted);
}

.text-primary {
  color: var(--primary);
}

.text-secondary {
  color: var(--secondary);
}

.text-light {
  color: var(--light);
}

.text-dark {
  color: var(--dark);
}

.text-danger {
  color: var(--danger);
}

.text-success {
  color: var(--success);
}

.text-muted {
  color: var(--muted);
}

@font-face {
  font-family: "Poppins";
  src: url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap")
    format("truetype");
}

body {
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

a {
  color: var(--primary);
}

a.text-secondary {
  color: var(--secondary);
}

a.text-danger {
  color: var(--danger);
}

a.text-success {
  color: var(--success);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.container-fluid {
  width: 100%;
  margin: 0 auto;
}

.page-container-fluid {
  width: 100%;
  min-height: 700px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col-def {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.space-between {
  justify-content: "space-between";
}

.btn-primary {
  background-color: var(--primary);
  color: #fff;
}

.btn-secondary {
  background-color: var(--secondary);
  color: #fff;
}

.btn-danger {
  background-color: var(--danger);
  color: #fff;
}

.btn-success {
  background-color: var(--success);
  color: #fff;
}

.text-hover:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

.btn-hover:hover {
  background-color: var(--primary);
  color: #fff;
  transform: scale(1.1);
  box-shadow: 0 0 10px var(--primary);
}

.img-hover:hover {
  transform: scale(1.1);
  opacity: 0.8;
  box-shadow: 0 0 10px #000;
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}
