.profile-form-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
}

.profile-form-label {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.profile-form-input {
  width: 300px;
  height: 30px;
  margin-top: 10px;
  padding: 5px;
  border: 1px solid #ccc;
}

.profile-form-button {
  width: 300px;
  height: 40px;
  margin-top: 20px;
  background-color: #1a1a1a;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.profile-form-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.error {
  color: red;
  margin-top: 10px;
}
