.page-container {
  width: 100vw;
  height: 100vh;
  padding: 0px;
}

.services-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

@media (max-width: 800px) {
  .services-section {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .services-section {
    grid-template-columns: 1fr;
  }
}
